* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .clearfix::after {
      content: "";
      display: table;
      clear: both;
  }

  .calendar-title{
      width: 80vw;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 30px;;
  }

  .mese{
      padding-bottom: 30px;;
  }

  .selezione-mese{
      display: flex;
  }

 
  button{
      display: flex;
      justify-content: space-around;
      align-items: baseline;
      padding: 10px 15px;
      border-radius: 5px;
      background-color: coral;
      font-size: larger;
  }

  button:first-child{
    margin-right: 20px;
}

 .prec i,
 .succ p{
     margin-right: 20px;
 }

 #nome-mese{
     text-transform: capitalize;
 }

 .calendar-main{
    width: 20%;
    max-height: 80vh;
    margin: 10px auto; 
    padding: 0 30px;
    overflow: auto;
    display: flex;
    justify-content: flex-start;
}

#calendar li{
    text-transform: capitalize;
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 1.5em;
}

.festivo{
    color: red;
}