* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
  }

  .clearfix::after {
      content: "";
      display: table;
      clear: both;
  }

  .calendar-title{
      width: 80vw;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 30px;
  }

  .mese{
      padding-bottom: 30px;
  }

  .selezione-mese{
      display: flex;
  }

 
  button{
      display: flex;
      justify-content: space-around;
      align-items: baseline;
      padding: 10px 15px;
      border: none;
      border-radius: 5px;
      background-color: coral;
      font-size: larger;
      outline: none;
  }

  button:first-child{
    margin-right: 20px;
}

button:hover{
    cursor: pointer;
}

 .prec i,
 .succ p{
     margin-right: 20px;
 }

 #nome-mese{
     text-transform: uppercase;
 }

 .week-days {
     width: 80%;
     height: 50px;
     margin: 0 auto;
     display: flex;
     margin-top: 30px;
 }

 .square {
     width: calc(100% / 7);
     display: flex;
     justify-content: center;
     align-items: center;
      
 }

 .calendar-main{
    width: 80%;
    margin: 10px auto; 
    display: flex;
    justify-content: flex-start;
    
}
#calendar{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.feste-container{
    width: calc(100% / 7);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-shadow: 0 0 0 2px lightgrey;
}
#calendar li{
    text-transform: capitalize;
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 1.5em;
}

.festa{
    width: 80%;
    text-align: center;
    background-color: red;
    border-radius: 5px;;
}
.festivo{
    color: #fff;
}

.succ:disabled,
.prec:disabled{
    cursor: not-allowed;
}